{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "CommerceAPI V3"
  },
  "host": "commerceapi.io",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v3/Acknowledgements/{LogicbrokerKey}": {
      "get": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Get acknowledgement details",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_GetAck",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[Acknowledgement]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/CustomXML": {
      "post": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Create acknowledgement(s) based on custom XML.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_UploadCustomXml",
        "consumes": [
          "application/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "xmlType",
            "in": "query",
            "description": "XML type, leave blank unless directed otherwise.",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to upload",
            "required": false,
            "type": "file"
          },
          {
            "name": "data",
            "in": "body",
            "description": "XML data to upload",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/Request": {
      "post": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Request an acknowledgement from a trading partner",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_RequestAck",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Acknowledgement",
            "in": "body",
            "description": "Acknowledgement request object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Acknowledgement"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Acknowledgement request created.",
            "schema": {
              "$ref": "#/definitions/LBMessage[CreateSalesOrderReponse]"
            }
          },
          "400": {
            "description": "Acknowledgement data was invalid."
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements": {
      "get": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Search acknowledgements",
        "description": "Request rate limited to 1 request every 2 seconds with bursts up to 25 requests.",
        "operationId": "Acknowledgement_SearchAcksV2",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Filters.partnerPO",
            "in": "query",
            "description": "The partner's purchase order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.sourceKey",
            "in": "query",
            "description": "Source key is usually the unique key the sender uses to find this document. Sometime this might be the same as the PartnerPO.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.status",
            "in": "query",
            "description": "The status of the document. Use Status endpoint to view valid Statuses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Filters.page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.receiverCompanyId",
            "in": "query",
            "description": "This Id is indicate who is received this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.senderCompanyId",
            "in": "query",
            "description": "This Id is indicate who is sent this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.linkkey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents. It ties the Order to all the Shipments and Invoices.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[Acknowledgement]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Create an acknowledgement",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_CreateAck",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Acknowledgement",
            "in": "body",
            "description": "Acknowledgement object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Acknowledgement"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Acknowledgement created.",
            "schema": {
              "$ref": "#/definitions/LBMessage[CreateSalesOrderReponse]"
            }
          },
          "400": {
            "description": "Acknowledgement data was invalid."
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/{LogicbrokerKey}/Status/{Status}": {
      "put": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Update acknowledgement status",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_UpdateAckStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The Logicbroker Key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "path",
            "description": "The Status.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/{LogicbrokerKey}/Status": {
      "get": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Retrieve acknowledgement status",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_GetAckStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The Logicbroker Key.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[LBDocumentStatus]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/Export": {
      "post": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Export to CSV/XLSX",
        "description": "You must specify a value for either the 'LogicbrokerKeys' parameter or the 'Filter' parameter within the request.\n\nRequest rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_GetDocumentExportTokenV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Document filter, columns to export and file type.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentExportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/{LogicbrokerKey}/EDI": {
      "get": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Retrieve EDI",
        "description": "Returns the latest EDI related to this document that was either sent or received by Logicbroker. The EDI output may also contain other documents that were in the same batch.\n\nRequest rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Acknowledgement_GetDocumentEDI",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The Logicbroker key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/CreateImport": {
      "post": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Generate import link.",
        "description": "This endpoint returns a temporary URL which accepts a file upload. Any column mappings sent in the request will be applied to the uploaded file.\n\nRequest rate limited to 1 request every 10 seconds with bursts up to 10 requests.",
        "operationId": "Acknowledgement_CreateImportLink",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentImportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/Import": {
      "post": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Import from flat file.",
        "description": "Request rate limited to 1 request per second with bursts up to 10 requests.",
        "operationId": "Acknowledgement_ImportV2",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "importId",
            "in": "query",
            "description": "Import request id",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to import",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/Ready": {
      "get": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Get acknowledgements that are ready for processing",
        "description": "Request rate limited to 1 request every 2 seconds with bursts up to 25 requests.",
        "operationId": "Acknowledgement_GetReadyAcknowledgements",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "filters.partnerPO",
            "in": "query",
            "description": "The partner's purchase order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.sourceKey",
            "in": "query",
            "description": "Source key is usually the unique key the sender uses to find this document. Sometime this might be the same as the PartnerPO.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.status",
            "in": "query",
            "description": "The status of the document. Use Status endpoint to view valid Statuses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.receiverCompanyId",
            "in": "query",
            "description": "This Id is indicate who is received this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.senderCompanyId",
            "in": "query",
            "description": "This Id is indicate who is sent this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.linkkey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents. It ties the Order to all the Shipments and Invoices.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[Acknowledgement]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/LogicbrokerKeys/Ready": {
      "get": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Get acknowledgement keys that are ready for processing",
        "description": "Request rate limited to 2 requests per second with bursts up to 25 requests.",
        "operationId": "Acknowledgement_GetReadyAcknowledgementKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "filters.partnerPO",
            "in": "query",
            "description": "The partner's purchase order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.sourceKey",
            "in": "query",
            "description": "Source key is usually the unique key the sender uses to find this document. Sometime this might be the same as the PartnerPO.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.status",
            "in": "query",
            "description": "The status of the document. Use Status endpoint to view valid Statuses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.receiverCompanyId",
            "in": "query",
            "description": "This Id is indicate who is received this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.senderCompanyId",
            "in": "query",
            "description": "This Id is indicate who is sent this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.linkkey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents. It ties the Order to all the Shipments and Invoices.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Acknowledgements/Status": {
      "put": {
        "tags": [
          "Acknowledgement"
        ],
        "summary": "Bulk update acknowledgement status",
        "description": "Request rate limited to 1 request per second with bursts up to 25 requests.",
        "operationId": "Acknowledgement_BulkUpdateStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Bulk update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkStatusUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/ActivityEvents/{EventId}": {
      "get": {
        "tags": [
          "ActivityEvent"
        ],
        "summary": "Gets the event with the specified id.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "ActivityEvent_GetActivityEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "The id to search for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[LBActivityEvent]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "ActivityEvent"
        ],
        "summary": "Update activity event",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "ActivityEvent_UpdateActivityEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "The Event Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activityEvent",
            "in": "body",
            "description": "The updated activityEvent",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LBActivityEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[Int32]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/ActivityEvents/EventTypes": {
      "get": {
        "tags": [
          "ActivityEvent"
        ],
        "summary": "Gets a list of all possible event types.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "ActivityEvent_GetEventTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[List[LBEventType]]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/ActivityEvents": {
      "get": {
        "tags": [
          "ActivityEvent"
        ],
        "summary": "Get events for given fitlers",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "ActivityEvent_SearchActivityEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Filters.linkKey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.logicbrokerKey",
            "in": "query",
            "description": "Logicbroker document identifier.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.documentType",
            "in": "query",
            "description": "Document type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.typeId",
            "in": "query",
            "description": "Event type identifier.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.category",
            "in": "query",
            "description": "Event category.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.level",
            "in": "query",
            "description": "Event level (Info, Alert, etc.)",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.senderId",
            "in": "query",
            "description": "Event sender.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.receiverId",
            "in": "query",
            "description": "Event receiver.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.processed",
            "in": "query",
            "description": "Processed flag.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Filters.viewed",
            "in": "query",
            "description": "Viewed flag.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[GetActivityEventResponse]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Attachments": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Get a list of all attachments matching a given filter.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Attachment_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Attachment type",
            "required": false,
            "type": "string"
          },
          {
            "name": "receiverId",
            "in": "query",
            "description": "Receiver account number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "logicbrokerKey",
            "in": "query",
            "description": "Logicbroker key",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "acknowledged",
            "in": "query",
            "description": "Acknowledged flag",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[ArrayResponse[LBAttachment]]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Upload an attachment",
        "description": "Request rate limited to 1 request every 5 seconds with bursts up to 10 requests.",
        "operationId": "Attachment_Upload",
        "consumes": [
          "application/json",
          "application/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Attachment type (json, xml, csv, txt, pdf, png)",
            "required": true,
            "type": "string"
          },
          {
            "name": "receiverId",
            "in": "query",
            "description": "Receiver account number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "logicbrokerKeys",
            "in": "query",
            "description": "Logicbroker document keys to attach",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Attachment description",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of file to attach",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to attach",
            "required": false,
            "type": "file"
          },
          {
            "name": "data",
            "in": "body",
            "description": "XML/JSON data to attach (webhooks)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[ArrayResponse[LBAttachment]]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Attachments/{container}/{name}": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Retrieve a file from Logicbroker storage.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Attachment_DownloadWithCoId",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "container",
            "in": "path",
            "description": "File container (ex. edidocs, attachments)",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "File name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Document/Script/{ScriptName}": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Execute custom handler.",
        "description": "Request rate limited to 1 request every 5 seconds with bursts up to 25 requests.",
        "operationId": "Document_GetCustomScript",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "ScriptName",
            "in": "path",
            "description": "The custom script name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Execute custom handler.",
        "description": "Request rate limited to 1 request every 5 seconds with bursts up to 25 requests.",
        "operationId": "Document_PostCustomScript",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "ScriptName",
            "in": "path",
            "description": "The custom script name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "options": {
        "tags": [
          "Document"
        ],
        "summary": "Execute custom handler.",
        "description": "Request rate limited to 1 request every 5 seconds with bursts up to 25 requests.",
        "operationId": "Document_OptionsCustomScript",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ScriptName",
            "in": "path",
            "description": "The custom script name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/Document/Search": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Search documents.",
        "description": "Request rate limited to 2 requests per second with bursts up to 10 requests.",
        "operationId": "Document_SearchDocuments",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "A way to refine your search results using OData query options. For example, Type eq 'Order' and StatusCode lt 500",
            "required": false,
            "type": "string"
          },
          {
            "name": "term",
            "in": "query",
            "description": "The term you are using to search by such as SKU, shipping address, product name, etc.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The way you are reviewing the returned results. For example, Date asc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[DocumentSearchResult]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Download inventory as CSV.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Inventory_Download",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "description": "Only items modified after this time",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mapped",
            "in": "query",
            "description": "Set to false to view items with no merchant SKU",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "transform",
            "in": "query",
            "description": "Transform CSV (if configured)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeNullQuantity",
            "in": "query",
            "description": "Set to true to include items with null quantity",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "CSV or XLSX",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Import inventory from CSV.",
        "description": "Request rate limited to 1 request every 10 seconds with bursts up to 30 requests.",
        "operationId": "Inventory_Upload",
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "transform",
            "in": "query",
            "description": "Transform CSV (if configured)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to import (CSV/XLSX)",
            "required": false,
            "type": "file"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Inventory in JSON format",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Inventory"
        ],
        "summary": "Delete all inventory records.",
        "description": "Request rate limited to 1 request every 60 seconds with bursts up to 2 requests.",
        "operationId": "Inventory_DeleteAll",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/Broadcast": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Import inventory from CSV.",
        "description": "Request rate limited to 1 request every 60 seconds with bursts up to 2 requests.",
        "operationId": "Inventory_Broadcast",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "transform",
            "in": "query",
            "description": "Transform CSV (if configured)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to import",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}/Matching": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Match items with CSV.",
        "description": "Request rate limited to 1 request every 10 seconds with bursts up to 10 requests.",
        "operationId": "Inventory_UploadMatching",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to import",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Inventory"
        ],
        "summary": "Delete all SKU mappings.",
        "description": "Request rate limited to 1 request every 60 seconds with bursts up to 2 requests.",
        "operationId": "Inventory_DeleteMappings",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}/Resend": {
      "put": {
        "tags": [
          "Inventory"
        ],
        "summary": "Resend all inventory items.",
        "description": "Request rate limited to 1 request every 5 minutes with bursts up to 2 requests.",
        "operationId": "Inventory_ResendAll",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}/ZeroOut": {
      "put": {
        "tags": [
          "Inventory"
        ],
        "summary": "Set all inventory quantity to zero.",
        "description": "Request rate limited to 1 request every 5 minutes with bursts up to 2 requests.",
        "operationId": "Inventory_ZeroOut",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/All/Export": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Export inventory as CSV/XLSX for all partners.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Inventory_ExportAllInventory",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Export settings",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InventoryExportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}/Export": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Export inventory as CSV/XLSX for a partner.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Inventory_ExportInventory",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Export settings",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InventoryExportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}/Item/{sku}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get a single item by SKU",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Inventory_GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "Item SKU",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[LBInventoryItem]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/{partnerId}/Match/{sku}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get a single item by merchant SKU",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Inventory_GetMatch",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "Partner account number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sku",
            "in": "path",
            "description": "Item SKU",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[LBInventoryItem]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Inventory/Availability/{sku}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get the availability of an item across all suppliers.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Inventory_GetAvailability",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Merchant SKU",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[LBInventoryItem]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/CustomXML": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Create invoice(s) based on custom XML",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_UploadCustomXml",
        "consumes": [
          "application/xml",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "xmlType",
            "in": "query",
            "description": "XML type, leave blank unless directed otherwise.",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to upload",
            "required": false,
            "type": "file"
          },
          {
            "name": "data",
            "in": "body",
            "description": "XML data to upload",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/Remittance": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Create an invoice from retailer to supplier",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_CreateRemittance",
        "consumes": [
          "application/xml",
          "text/xml",
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "body",
            "description": "The new invoice",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Remittance invoice created.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Invoice data was invalid."
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Search invoices",
        "description": "Request rate limited to 1 request every 2 seconds with bursts up to 25 requests.",
        "operationId": "Invoice_SearchInvoicesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Filters.partnerPO",
            "in": "query",
            "description": "The partner's purchase order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.sourceKey",
            "in": "query",
            "description": "Source key is usually the unique key the sender uses to find this document. Sometime this might be the same as the PartnerPO.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.status",
            "in": "query",
            "description": "The status of the document. Use Status endpoint to view valid Statuses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Filters.page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.receiverCompanyId",
            "in": "query",
            "description": "This Id is indicate who is received this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.senderCompanyId",
            "in": "query",
            "description": "This Id is indicate who is sent this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Filters.linkkey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents. It ties the Order to all the Shipments and Invoices.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[Invoice]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Create a new invoice",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_CreateInvoice",
        "consumes": [
          "application/xml",
          "text/xml",
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "body",
            "description": "The new invoice",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Invoice created.",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Invoice data was invalid."
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/{LogicbrokerKey}/Events": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Retrieve related events",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetActivityEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The Logicbroker key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[GetActivityEventResponse]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/{LogicbrokerKey}/EDI": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Retrieve EDI",
        "description": "Returns the latest EDI related to this document that was either sent or received by Logicbroker. The EDI output may also contain other documents that were in the same batch.\n\nRequest rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetDocumentEDI",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/CreateImport": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Generate import link.",
        "description": "This endpoint returns a temporary URL which accepts a file upload. Any column mappings sent in the request will be applied to the uploaded file.\n\nRequest rate limited to 1 request every 10 seconds with bursts up to 10 requests.",
        "operationId": "Invoice_CreateImportLink",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentImportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/Import": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Import from flat file.",
        "description": "Request rate limited to 1 request per second with bursts up to 10 requests.",
        "operationId": "Invoice_ImportV2",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "importId",
            "in": "query",
            "description": "Import request id",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File to import",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/Export": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Export to CSV/XLSX",
        "description": "You must specify a value for either the 'LogicbrokerKeys' parameter or the 'Filter' parameter within the request.\n\nRequest rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetDocumentExportTokenV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Document filter, columns to export and file type.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentExportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/{LogicbrokerKey}": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Returns the invoice with the specified key",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetInvoice",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The logicbroker key to search for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[GetInvoiceResponse]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/{LogicbrokerKey}/Status": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Return the current status code of an invoice",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetInvoiceStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The logicbroker key of the invoice to look up.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[LBDocumentStatus]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/{LogicbrokerKey}/BrandedInvoice": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Get branded invoice for one invoice",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetInvoiceLabel",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The logicbroker Key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "FileType",
            "in": "query",
            "description": "Valid types: jpg, png, pdf, ps, zpl",
            "required": true,
            "type": "string"
          },
          {
            "name": "ViewInBrowser",
            "in": "query",
            "description": "Set to true to view the resulting link in the browser.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/BrandedInvoice": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Get branded invoice for multiple invoices",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_GetInvoiceLabelToken",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKeys",
            "in": "query",
            "description": "The logicbroker Keys.",
            "required": true,
            "type": "string"
          },
          {
            "name": "FileType",
            "in": "query",
            "description": "Valid types: jpg, png, pdf, ps, zpl",
            "required": true,
            "type": "string"
          },
          {
            "name": "ViewInBrowser",
            "in": "query",
            "description": "Set to true to view the resulting link in the browser.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/{LogicbrokerKey}/Status/{Status}": {
      "put": {
        "tags": [
          "Invoice"
        ],
        "summary": "Updates an invoice to the specified status",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Invoice_UpdateInvoiceStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The logicbroker key of the invoice to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "path",
            "description": "The Status.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/Ready": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Get invoices that are ready for processing",
        "description": "Request rate limited to 1 request every 2 seconds with bursts up to 25 requests.",
        "operationId": "Invoice_GetReadyInvoices",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "filters.partnerPO",
            "in": "query",
            "description": "The partner's purchase order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.sourceKey",
            "in": "query",
            "description": "Source key is usually the unique key the sender uses to find this document. Sometime this might be the same as the PartnerPO.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.status",
            "in": "query",
            "description": "The status of the document. Use Status endpoint to view valid Statuses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.receiverCompanyId",
            "in": "query",
            "description": "This Id is indicate who is received this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.senderCompanyId",
            "in": "query",
            "description": "This Id is indicate who is sent this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.linkkey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents. It ties the Order to all the Shipments and Invoices.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[Invoice]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/LogicbrokerKeys/Ready": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Get invoice keys that are ready for processing",
        "description": "Request rate limited to 2 requests per second with bursts up to 25 requests.",
        "operationId": "Invoice_GetReadyInvoiceKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "filters.partnerPO",
            "in": "query",
            "description": "The partner's purchase order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.sourceKey",
            "in": "query",
            "description": "Source key is usually the unique key the sender uses to find this document. Sometime this might be the same as the PartnerPO.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.status",
            "in": "query",
            "description": "The status of the document. Use Status endpoint to view valid Statuses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filters.from",
            "in": "query",
            "description": "Beginning of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.to",
            "in": "query",
            "description": "End of time search window.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filters.page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.receiverCompanyId",
            "in": "query",
            "description": "This Id is indicate who is received this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.senderCompanyId",
            "in": "query",
            "description": "This Id is indicate who is sent this document. Use the Partner endpoint to discovery valid company Ids.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters.linkkey",
            "in": "query",
            "description": "The linkkey identifies a group of related documents. It ties the Order to all the Shipments and Invoices.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Invoices/Status": {
      "put": {
        "tags": [
          "Invoice"
        ],
        "summary": "Bulk update invoice status",
        "description": "Request rate limited to 1 request per second with bursts up to 25 requests.",
        "operationId": "Invoice_BulkUpdateStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Bulk update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkStatusUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Messages": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Get messages.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Message_GetMessages",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[MessageDetails]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Create new message.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Message_CreateMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "message",
            "in": "body",
            "description": "Message details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Messages/{messageId}/Replies": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Get replies to a message.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Message_GetReplies",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "Message id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[ReplyDetails]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Reply to a message.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Message_CreateReply",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "Message id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "reply",
            "in": "body",
            "description": "Reply details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewReply"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Messages/{messageId}/Acknowledgements": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Get receipt information for a message.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Message_GetReceipts",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "Message id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArrayResponse[MessageReceiptDetails]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Acknowledge a message if needed.",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Message_Acknowledge",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "Message id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Messages/Export": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Export messages.",
        "description": "Request rate limited to 1 request per second with bursts up to 5 requests.",
        "operationId": "Message_Export",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "fileType",
            "in": "query",
            "description": "CSV or XLSX.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[String]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v3/Orders/{LogicbrokerKey}/Invoices": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieve a list of invoices for an order",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Order_GetInvoice",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The Logicbroker key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LBMessage[SalesOrderInvoices]"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "OAuth2": [
              "api"
            ]
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Creates invoice and links with the given order",
        "description": "Request rate limited to 10 requests per second with bursts up to 100 requests.",
        "operationId": "Order_CreateInvoiceForSalesOrder",
        "consumes": [
          "application/xml",
          "text/xml",
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "LogicbrokerKey",
            "in": "path",
            "description": "The Logicbroker Key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Invoice",
            "in": "body",
            "description": "The invoice.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "201": {
[...]
